<div class="menuglobal">
  <div class="menuleft">
    <div class="logo">
      Checkr
    </div>
    <div class="menu">
      <div class="dropdown">
        <button class="dropbtn">PRODUCT v</button>
        <div class="dropdown-content">
          <a href="#">Overview</a>
          <a href="#">Screenings</a>
          <a href="#">Compliance</a>
          <a href="#">Security</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">STAFFING v</button>
        <div class="dropdown-content">
          <a href="#">Overview</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">INDUSTRIES v</button>
        <div class="dropdown-content">
          <a href="#">Overview</a>
          <a href="#">Screenings</a>
          <a href="#">Compliance</a>
          <a href="#">Security</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">RESOURCES v</button>
        <div class="dropdown-content">
          <a href="#">Overview</a>
          <a href="#">Guides & White Papers</a>
          <a href="#">FAQ</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">COMPLIANCE</button>
      </div>

      <div class="menuright" ><a href="#">LOG IN</a></div>
      
    </div>
  </div>

  <div class="menuright">

    <div class="buttonmenu">
      <input type="button" class="getstarted" value="GET STARTED &rarr;">
    </div>
  </div>
</div>
