<div class="top">
  <ul>
    <li><a href="#">I Am an Applicant</a></li>
    <li><a href="#">API & Docs</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Careers</a></li>
  </ul>
</div>
