<% provide(:stylesheets, '/stylesheets/checkr/custom.scss') %>
<div class="page">

  <%= render "/layouts/checkr/top" %>
  <%= render "/layouts/checkr/menuglobal" %>
  <%= render "/layouts/checkr/center"%>
</div>
